template(name='stream')
  .col-md-3
    +profileSidebar currentUser
  .col-md-9
    .row
      +twattForm
      +twattList

template(name='profileSidebar')
  .profile-sidebar
    with currentUser
      .profile-picture
        a(href="{{ pathFor 'profile' username=username}}")
          +gravatar
          //- img.img-circle(src="http://beerhold.it/128/128", alt="")
        h3
          a(href="{{ pathFor 'profile' username=username}}") #{ username }
      .panel.panel-default
        .panel-body
          +profileNumbers

template(name='gravatar')
  img.img-circle(src="#{ gravatarUrl }", alt="")

template(name='profileNumbers')
  ul.list-inline.text-center
    li
      h3 #{ twattsCount }
      span Twatts
    li
      h3 #{ profile.followedUsers.length }
      span Following
    li
      h3 #{ profile.followers.length }
      span Followers

template(name='twattForm')
  .col-xs-12.well.well-lg
    .input-group.input-group-lg.twat-input-field
      input#twatt-input.form-control.message-field(type='text' placeholder="What yo wanna twatt 'bout?")
      span.input-group-btn
        button#save-twatt.btn.btn-success
          span.glyphicon.glyphicon-send
          | Twatt!

template(name='twattList')
  .col-xs-12.twatt-list
    each twatts
      .media.single-twatt-container
        .media-left.media-top
          //- img.img-circle(src="http://beerhold.it/64/64", alt="")
          +gravatar this

        .media-body
          a(href="{{ pathFor 'profile' }}")
            h5
              b #{ username }
          p #{ text }
          .twatt-options
            if ownTwatt this
              small#remove-twatt.text-danger.pointer
                span.glyphicon.glyphicon-trash
                | Remove
