template(name='stream')
  .col-xs-3
    +profileSidebar currentUser
  .col-xs-9
    .row
      +twattForm
      +twattList

template(name='profileSidebar')
  .profile-sidebar
    .profile-picture
      img.img-circle(src="http://beerhold.it/128/128", alt="")
      h3 #{ username }
    .panel.panel-default
      .panel-body
        ul.list-unstyled
          li Following: #{ profile.followedUsers.length }
          li Followers: #{ profile.followers.length }

template(name='twattForm')
  .col-xs-12.well.well-lg
    .input-group.input-group-lg.twat-input-field
      input#twatt-input.form-control.message-field(type='text' placeholder="What yo wanna twatt 'bout?")
      span.input-group-btn
        button#save-twatt.btn.btn-success Twatt!

template(name='twattList')
  .col-xs-12
    ul.list-group
      each twatts
        li.list-group-item.row
          .col-xs-11
            a(href="{{ pathFor 'profile' }}")
              h5
                b #{ username }
            p #{ text }
          .col-xs-1
            button#remove-twatt.btn.btn-xs.btn-danger.pull-right
              span.glyphicon.glyphicon-trash